@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bad+Script&family=Charm&family=Cormorant+Upright&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Edu+TAS+Beginner&family=Grandiflora+One&family=Italianno&family=Josefin+Slab&family=Nanum+Brush+Script&family=Nothing+You+Could+Do&family=Pinyon+Script&family=Playball&family=Reenie+Beanie&family=Sacramento&family=Zeyada&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    background-color: #000;
}

.landingContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;

    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
}

@keyframes sticky-parallax-header-move-and-size {
    from {
        background-position: 50% 0;
        height: 100vh;
        font-size: calc(4vw + 1em);

    }

    to {
        background-position: 50% 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 15vh;
        font-size: 2em;
        ;
    }
}

#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: when-scrolling linear forwards;
    animation-timeline: scroll();
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-text-stroke: #000 2px;
    text-align: center;
}

@keyframes when-scrolling {
    from {
        height: 15vh;
        left: 50%;
        top: 30%;
    }

    to {
        height: 7vh;
        left: 15%;
        top: 50%;
        font-size: 2rem;
        /* text-align: left; */
        opacity: 0;
    }
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.title {
    color: red;
    animation: when-scrolling-2 linear forwards;
    animation-timeline: scroll();
}

@keyframes when-scrolling-2 {
    from {
        height: 15vh;
        left: 50%;
        top: 30%;
    }

    to {
        height: 7vh;
        left: 15%;
        top: 50%;
        font-size: 2rem;
        display: none;
        opacity: 0;
    }
}

.text1 {
    position: fixed;
    z-index: -2;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    animation: hide-after-scroll linear forwards;
    animation-timeline: scroll();
    width: 100%;
    transform: rotate(15deg);
}

.text2 {
    position: fixed;
    z-index: -2;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    animation: hide-after-scroll linear forwards;
    animation-timeline: scroll();
    width: 100%;
    transform: rotate(-15deg);
}

#contact {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    letter-spacing: 0.25rem;
    bottom: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    align-self: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    opacity: 0;
    animation: show-after-scroll linear forwards;
    animation-timeline: scroll();
}

#contactInfoContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(1, 1, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    /* height: 100px; */
    margin: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contactInfoContainer.contactInfoShow {
    display: block;
    opacity: 1;
    height: 100%;
    color: #fff;
}

.modal-text {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    /* -webkit-text-stroke: #000 2px; */
}

@keyframes show-after-scroll {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.5;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }

    50% {
        opacity: 0.75;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }
}

.is {
    position: absolute;
    letter-spacing: 0.25rem;
    bottom: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    /* align-self: center; */
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: red;
    -webkit-text-stroke: #000 2px;
    opacity: 0;
    animation: show-after-scroll-2 linear forwards;
    animation-timeline: scroll();
}

@keyframes show-after-scroll-2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.5;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    50% {
        opacity: 0.75;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        top: 30%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
}


.scrollDown {
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

.scrollDown::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 11px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
}


@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

.scrollDownContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: hide-after-scroll linear forwards;
    animation-timeline: scroll();
}

@keyframes hide-after-scroll {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -4;
    }
}

#cover {
    background-color: black;
    height: 100vh;
}

#selectorContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scrollX {
    width: 100%;
    display: flex;
    font-family: 'Darker Grotesque', sans-serif;
    pointer-events: none;
}

.scrollX div {
    color: #000;
    font-size: 80px;
    background-color: #fff;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -20s;
}

.scrollX.text3 {
    z-index: 1;
}

.scrollX.text3 div {
    animation: animate2 120s linear infinite;
    animation-delay: -20s;
}

.stroke {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}



.column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.column-inner {
    width: 100%;
    height: 100%;
}

.column-title {
    writing-mode: horizontal-tb;
    color: white;
    font-size: 2rem;
    text-orientation: vertical;
    margin-bottom: 30%;
    margin-left: 5%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.column-title:hover {
    color: black;
    box-shadow: inset 600px 0 0 0 red;
}


.empty {
    background-color: black;
}

#empty::before {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

#diagnostico {
    background-color: black;
}

#diagnostico::before {
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}

#formacion {
    background-color: black;
}

#formacion::before {
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}

#networking {
    background-color: black;

}

#networking::before {
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}

.desc {
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 35px;
    background-color: red;
    position: absolute;
    z-index: 1;
    right: 0;
    width: 60%;
    height: 100%;
    padding-top: 20rem;
    padding-left: 5rem;
    opacity: 0;
}

.desc-mobile {
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 35px;
    background-color: red;
    display: none;
}

.servicios-mobile {
    display: none
}

@media screen and (max-width: 1023px) {

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    #logo {
        width: 100vw;
    }

    .desc {
        display: none;
    }

    .stroke {
        margin-left: 5%;
    }

    .servicios-mobile {
        display: block;
        width: 100%;
        display: flex;
        font-family: 'Darker Grotesque', sans-serif;
        pointer-events: none;
        color: #000;
        font-size: 80px;
        background-color: #fff;
        white-space: nowrap;
        font-weight: 900;
        text-transform: uppercase;
    }

    .scrollX {
        display: none;
    }


    .is {
        display: none;
    }

    #contact {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .desc-mobile {
        padding: 20px;
        font-size: 25px;
    }

    #cover {
        display: none;
    }

    #logo {
        animation: none;
    }

    .title {
        animation: none;
    }

    .desc-mobile {
        display: block;
    }

    .modal-text {
        font-size: 20px;
    }

    .landingContainer {
        animation: none;
        position: static;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {


    /* .landingContainer {
        animation: none;
        position: static;
        overflow-x: hidden;
    } */

    .desc-mobile {
        padding: 20px;
        font-size: 25px;
    }

    .empty {
        display: none;
    }

    #cover {
        display: none;
    }

    #logo {
        animation: none;
    }

    .title {
        animation: none;
    }

    .desc-mobile {
        display: block;
    }

    .column {
        overflow: visible;
    }

    .modal-text {
        font-size: 20px;
    }

    /* #sticky-parallax-header {
        height: 100vh;
        animation: none;
    } */

    .title {
        font-size: 180px;
    }

    /*.is {
        font-size: 80px;
    } */


    .column-title {
        margin: 5% 0 0 5%
    }

    /* @keyframes down {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translateY(100px);
        }

        40% {
            transform: translate(0);
        }
    } */

    /* @keyframes show-after-scroll {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0.5;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        50% {
            opacity: 0.75;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            font-size: 70px;
            top: 35%;
            right: -15%;
            transform: translate(-50%, -50%);
        } */
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 160px;
    }

    .is {
        font-size: 80px;
    }

    #empty {
        height: 50%;
    }

    @keyframes show-after-scroll {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0.5;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        50% {
            opacity: 0.75;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            top: 40%;
            right: -10%;
            font-size: 50px;
            transform: translate(-50%, -50%);
        }
    }
}

@media screen and (max-width: 480px) {

    .title {
        font-size: 120px;
    }

    @keyframes show-after-scroll-2 {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0.5;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
        }

        50% {
            opacity: 0.75;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            top: 20%;
            left: 40%;
            transform: translate(-50%, -50%);
        }
    }

    .scrollX {
        align-self: center;
    }

    .scrollX.text3 {
        height: 30%;
        align-self: center !important;
    }

    @keyframes show-after-scroll {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0.5;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        50% {
            opacity: 0.75;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            top: 40%;
            right: -10%;
            font-size: 40px;
            transform: translate(-50%, -50%);
        }
    }

    #empty2 {
        display: none
    }

    .modal-content {
        padding: 0;
    }

    .close {
        margin: 5% 5% 0 0;
    }

}

@media screen and (max-width: 320px) {
    .title {
        font-size: 80px;
    }

    .is {
        font-size: 50px;
        bottom: 70%;
    }

    #contact {
        position: absolute;
        letter-spacing: 0.1rem;
        transform: translate(-50%, -50%);
        align-self: right;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        color: white;
        opacity: 0;
        animation: show-after-scroll linear forwards;
        animation-timeline: scroll();
    }

    @keyframes show-after-scroll {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0.5;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        50% {
            opacity: 0.75;
            top: 50%;
            right: 5%;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            font-size: 40px;
            top: 35%;
            right: -15%;
            transform: translate(-50%, -50%);
        }
    }

    .scrollDownContainer {
        top: 80%;
    }

    @keyframes down {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translateY(30px);
        }

        40% {
            transform: translate(0);
        }
    }

    .titleContainer {
        justify-content: flex-start;
        max-height: 100px;
    }

    .column-title {
        font-size: 1.2rem;
    }

    .close {
        margin-right: 5%;
    }

    .modal-content {
        padding: 0;
    }

    .modal-text {
        font-size: 15px;
    }

}